packaging_format = 2

id = "seafile"
name = "Seafile"
description.en = "Open source cloud storage"
description.fr = "Stockage cloud open source"

version = "13.0.15~ynh1"

maintainers = ["Josué Tille"]

[upstream]
license = "AGPL-3.0,Apache-2.0,MIT,GPL-2.0"
website = "https://www.seafile.com"
demo = "https://demo.seafile.com"
admindoc = "https://manual.seafile.com"
code = "https://github.com/haiwen/seafile-server"
cpe = "cpe:2.3:a:seafile:seafile"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = [
    "amd64"
# Disable arm64 for now because the last build don't provide ARM64 build.
# See discussion https://github.com/YunoHost-Apps/seafile_ynh/issues/177
#   , "arm64"
]
multi_instance = false

ldap = true
sso = true

disk = "5G"
ram.build = "0M"
ram.runtime = "1G"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/seafile"

    [install.server_name]
    ask.en = "Choose a name (3 - 15 letters or digits)"
    ask.fr = "Choisissez un nom (3 - 15 letters or digits)"
    type = "string"
    example = "Seafile"
    default = "Seafile"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "user"

    [install.admin_password]
    ask.en = "Enter a password for the administrator"
    ask.fr = "Entrez un mot de passe pour l'administrateur"
    type = "password"

    [install.init_main_permission]
    help.en = "If it's not public, everybody which want to access to any page of seafile need to be authenticated on the SSO. On the public mode anybody can access to the authentication page. The shared link will be olso accessible by anybody who has this link."
    help.fr = "Si n'est pas publique, n'importe qui veux accéder à n'importe quelle page de seafile doit être authentifié dans le SSO. Dans le mode publique n'importe qui peut accéder à la page d'authentification de seafile. Les liens partagé seront aussi accessible par n'import qui qui à ce liens."
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    owner = "__APP__:rwx"
    group = "www-data:r-x"

    [resources.data_dir]
    dir = "/home/yunohost.app/__APP__"

    [resources.permissions]
    main.url = "/"
    main.additional_urls = ["__DOMAIN__/socket.io"]

    file_server.url = "__DOMAIN__/seafhttp"
    file_server.label = "File server"
    file_server.allowed = "visitors"
    file_server.auth_header = false
    file_server.show_tile = false
    file_server.protected = true

    notification.url = "__DOMAIN__/notification"
    notification.label = "Client-notification"
    notification.allowed = "visitors"
    notification.auth_header = false
    notification.show_tile = false
    notification.protected = true

    seadoc.url = "/sdoc"
    seadoc.label = "Seadoc"
    seadoc.allowed = "visitors"
    seadoc.auth_header = false
    seadoc.show_tile = false
    seadoc.protected = true

    webdav.url = "__DOMAIN__/seafdav"
    webdav.label = "Webdav"
    webdav.allowed = "visitors"
    webdav.auth_header = false
    webdav.show_tile = false
    webdav.protected = true

    media.url = "/media"
    media.label = "Media"
    media.allowed = "visitors"
    media.auth_header = true
    media.show_tile = false
    media.protected = true

    thumbnail.url = "/thumbnail"
    thumbnail.label = "Thumbnail"
    thumbnail.allowed = "visitors"
    thumbnail.auth_header = false
    thumbnail.show_tile = false
    thumbnail.protected = true

    [resources.ports]
    seahub.default = 8000
    fileserver.default = 8082
    notificationserver.default = 8083
    webdav.default = 8080
    seadoc.default = 8084
    thumbnail.default = 8085

    [resources.sources.main]
    format = "docker"
    extract = true
    prefetch = false

    amd64.url = "seafileltd/seafile-mc:13.0.15"
    amd64.sha256 = "empty because it's not used..."

    arm64.url = "seafileltd/seafile-mc:13.0.15"
    arm64.sha256 = "empty because it's not used..."

    [resources.sources.notification_server]
    format = "docker"
    extract = true
    prefetch = false

    amd64.url = "seafileltd/notification-server:13.0.10"
    amd64.sha256 = "empty because it's not used..."

    arm64.url = "seafileltd/notification-server:13.0.10"
    arm64.sha256 = "empty because it's not used..."

    [resources.sources.seadoc]
    format = "docker"
    extract = true
    prefetch = false

    amd64.url = "seafileltd/sdoc-server:2.0.9"
    amd64.sha256 = "empty because it's not used..."

    arm64.url = "seafileltd/sdoc-server:2.0.9"
    arm64.sha256 = "empty because it's not used..."

    [resources.sources.thumbnail_server]
    format = "docker"
    extract = true
    prefetch = false

    amd64.url = "seafileltd/thumbnail-server:13.0.15"
    amd64.sha256 = "empty because it's not used..."

    [resources.apt]
    packages = ["mariadb-server", "redis-server"]

    [resources.database]
    type = "mysql"
