TIME_ZONE={{ time_zone }}
JWT_PRIVATE_KEY={{ jwt_private }}

SEAFILE_SERVER_PROTOCOL=https
SEAFILE_SERVER_HOSTNAME={{ domain }}

# Database
SEAFILE_MYSQL_DB_HOST=127.0.0.1
SEAFILE_MYSQL_DB_PORT=3306
SEAFILE_MYSQL_DB_USER={{ db_user }}
SEAFILE_MYSQL_DB_PASSWORD={{ db_pwd }}
SEAFILE_MYSQL_DB_CCNET_DB_NAME=ccnetdb
SEAFILE_MYSQL_DB_SEAFILE_DB_NAME={{ db_name }}

# Notification server
SEAFILE_LOG_TO_STDOUT=true
NOTIFICATION_SERVER_LOG_LEVEL=info
NOTIFICATION_SERVER_HOST=127.0.0.1
NOTIFICATION_SERVER_PORT={{ port_notificationserver }}
